<div style="padding:30px">
<h1>Sean's Watch Lists</h1>
  <%# Click on a list from a list of lists %>
  <div>
  <h5 style="padding-top: 30px">My Lists</h5>
    <% @lists.each do |list| %>
    <div>
      <%= link_to list[:name], list_path(list) %>
      <% end %>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
  <%# Create a list %>
    <%= link_to "Add a new List", new_list_path %>

</div>
