<h1>bookmarks INDEX</h1>



<div style="padding:30px">
<h1>Sean's Bookmarks</h1>
  <%# Click on a bookmark %>
  <div>
  <h5 style="padding-top: 30px">My Bookmarks</h5>
    <% @bookmarks.each do |bookmark| %>
    <div>
      <%= link_to bookmark[:movie], list_bookmark_path(bookmark) %>
      <%= bookmark[:comment] %>
      <% end %>
    </div>

</div>
